<div class="row" ng-controller="viewerCtrl">
	<div class="col-sm-12">
		<p id="notice"><%= notice %></p>		
	</div>
	<div class="col-sm-12">
		<h1><%= @asset.display_name %></h1>
		<dl class="dl-horizontal">
			<dt>Name</dt><dd><%= @asset.display_name %></dd>
			<dt>Type</dt><dd><%= @asset.type %></dd>
			<dt>Description</dt><dd><%= @asset.description %></dd>
			<dt>Tags</dt><dd>
				<% @asset.tags.each do |tag| %>
					<span class="label label-default tags">
						#<%= tag %>
					</span>
				<% end %>
			</dd>
<!-- 			<dt>Re-upload</dt><dd>
				<button type="button" class="btn btn-primary">Load New</button>
			</dd> -->
			<dt>Preview</dt><dd class="preview" <%= @asset.type %>-viewer location="<%= @asset.relative_path %>" asset-id="<%= @asset.id %>">
			</dd>
			<dt>Created at</dt><dd><%= @asset.created_at %></dd>
			<dt>Updated at</dt><dd><%= @asset.updated_at %></dd>
            <dt>Hash (md5)</dt><dd><%= @asset.checksum %></dd>
            <dt>
            <%= link_to "Download", "/files/#{@asset.id}"  %>
            </dt>
		</dl>
	</div>
	<div class="col-sm-12">
		<%= link_to 'Edit', edit_asset_path(@asset) %> |
		<%= link_to 'Back', assets_path %>
	</div>
</div>
